<!-- ROAST ID AND RECORD BUTTON -->
<div class="row mt-2">
  <h5>Roast ID</h5>
</div>
<div class="row">
  <div class="col input-group mb-3">
    <input class="form-control bg-light" id="batchID" type="text" [placeholder]="selectedBatchLabel" disabled ="true">
    <button class="btn btn-danger" *ngIf="!isRecording" (click)="startRecording()">RECORD</button>
    <button class="btn btn-danger" *ngIf="isRecording" (click)="stopRecording()">STOP RECORDING</button>
  </div>
  <div class="col input-group mb-3">
    <input class="form-control bg-light" id="batchID" type="text" [placeholder]="selectedBatchLabel" disabled ="true">
    <button class="btn btn-primary" >COMPARE</button>
  </div>
</div>

<!-- CHARTJS COMPONENTS -->
<div class="row mt-2">
  <h5>Temperature Curves</h5>
</div>
<div *ngIf="lineChartData" style="display: block;">
  <canvas baseChart width="400" height="140" [type]="'line'" [data]="lineChartData" [options]="lineChartOptions"
    [legend]="lineChartLegend">
  </canvas>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <h4>Item List</h4>
      <app-batch-list [batches]="batches" [disabled]="isRecording" (selectedItemsEvent)="setSelectedBatch($event)" ></app-batch-list>
    </div>
    <div class="col-md-3">
      <h4> <br></h4> <!--empty h4 to keep consistency -->
      <app-batch-form (newBatchEvent)="addBatch($event)"></app-batch-form>
    </div>
  </div>
</div>